<h1>{{heroe.nombre}} <small>{{heroe.aparicion}}</small></h1>
<div class="row">
    <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid" alt="">
        <br>
        <a href="#" class=" btn btn-outline-danger btn-block" [routerLink]="['/heroes']">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3>{{heroe.nombre}}</h3>
        <p>{{heroe.bio}}</p>
        <div>
            <img *ngIf="heroe.casa == 'Marvel'" width="50px" src="https://cdn.icon-icons.com/icons2/701/PNG/512/Marvel_icon-icons.com_61667.png" [alt]="heroe.casa">
            <img *ngIf="heroe.casa == 'DC'" width="50px" src="https://i.ya-webdesign.com/images/png-to-ico-1.png" [alt]="heroe.casa">
        </div>
    </div>
</div>